/* ****************************************** *
    
 * ****************************************** */
html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: rgba(74,75,75,0.87);
}

section {
    /*padding: 64px 0 40px;*/
    padding: 64px 0;
}

@media(min-width: 360px) {
    section {
        /*padding: 80px 0 48px;*/
        padding: 80px;
    }
}

.bg-green {
    color: rgba(255, 255, 255, 0.96);
    background-color: rgb(27, 175, 146);
}

.bg-gray,
.bg-grey {
    background-color: rgba(233, 237, 240, 0.32)
}

p {
    color: rgba(74,75,75,0.87);
}

section p {
    line-height: 32px;
}

.bg-green p {
    color: rgba(255, 255, 255, 0.96);
}

a {
    color: rgba(38, 184, 154);  
}

a:hover {
    color: rgb(0, 150, 136);
}

a.cta {
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

a.cta:hover {
    font-weight: 700;
    text-decoration: none;
}

img.full-width {
    display: block;
    width: 100%;
}

hr.section-separator {
    margin: 0;
    width: 100%;
}


/* ****************************************** *
    TOP BAR (NAV BAR)
 * ****************************************** */
.navbar {
    background-color: transparent;
    padding: 0.625rem 1.25rem;
}

.navbar-toggler {
    border: none;
}

button.navbar-toggler:focus {
  outline: none;
}

.hamburger-box {
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    margin-top: 8px;
    /*
        We need to set margin-top to 8px because so that the toggler
        can look horizontally centred with respect to the logo.

        The side-effect of this is that the parent container's height
        increases by 8px, making the entire top-bar look too low from
        the top edge of the screen.

        To compensate for this, we have to set the top margin of the
        top bar to -8px.
    */
}

.topbar {
    margin-top: -8px;
}

.topbar.white {
    background-color: rgba(255,255,255,0.95);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    transition: all 120ms ease .15s;
}

.topbar.white svg path {
  fill: #4b4a4a;
  transition: .3s;
}

.topbar.white svg polyline#logo-square-1 {
  fill: #00866e;
  transition: all 120ms linear .1s;
}

.topbar.white svg polyline#logo-square-2 {
  fill: #00a88b;
  transition: all 120ms linear .2s;
}

.topbar.white svg polyline#logo-square-3 {
  fill: #26b89a;
  transition: all 120ms linear .3s;
}

.topbar.white svg polyline#logo-square-4 {
  fill: #58c1ac;
  transition: all 120ms linear .4s;
}

/*div#topbar.white>div>div#nav-menu-login a {
  color: #4a4a4b;
  border-color: #4a4a4b;
  transition: all 240ms ease 120ms;
}*/

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
    background-color: #fff;
    border-radius: 8px;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    right: 0;

    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner {
    margin: -2px;
    top: 50%;
    width: 20px;
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-inner:before {
    top: -8px;
    width: 32px;
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
}

.hamburger-inner:after {
    bottom: -8px;
    width: 26px;
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.topbar.white .hamburger-inner,
.topbar.white .hamburger-inner:before,
.topbar.white .hamburger-inner:after {
    background-color: #4a4a4b;
}

.navbar-toggler.is-active .hamburger-inner {
    width: 32px;
    transform: rotate(45deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar-toggler.is-active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease, opacity 0.1s 0.14s ease;
}

.navbar-toggler.is-active .hamburger-inner:after {
    width: 32px;
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar-collapse {
    position: absolute;
    top: 64px;
    right: 50%;
    transform: translateX(50%);
    width: 80%;
    border-radius: 8px;
    border-top: none;
    background-color: rgb(27, 175, 146);
    box-shadow: -1px 1px 8px 2px rgba(0, 0, 0, 0.3);
    padding: 48px 32px;
}

.topbar.white .navbar-collapse {
    color: rgba(38, 184, 154);
    background-color:  rgba(255,255,255,0.95);
}

@media (min-width: 768px) {
    .navbar-collapse {
        position: relative;
        top: 0;
        right: 0;
        transform: translate(0);
        box-shadow: none;
        padding: 0;
        margin-top: 8px;
        /* 
           Same thing we did with the hamburger box...
           this one so that the nav links look horizontally centered with
           respect to the logo.

           The side effect has already been mitigated (once and for all,
           in the case of the hamburger).
        */

        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .topbar.white .navbar-collapse {
        background-color: transparent;
    }
}

.btn-wrap {
    margin-top: 56px;
}

.nav-link {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
}

.topbar.white .nav-link {
    color: rgba(38, 184, 154);
}

.topbar.white .nav-link.btn-orange {
    color: white;
}

.topbar.white .nav-link.btn-minimal {
    background-color: rgba(51, 255, 214, 0.24);
}

.nav-item.active .nav-link,
.nav-item .nav-link:active {
    font-weight: 800;
}

.nav-link:not(.btn) {
    padding: 12px 16px;
    border-bottom: 1px solid rgb(233, 237, 240);
}

.nav-link:not(.btn):hover,
.nav-link:not(.btn):focus,
.nav-link:not(.btn).focus {
    color: white;
    font-weight: 900;
    background-color: rgb(38, 184, 154);
}

.topbar.white .nav-link:not(.btn):hover,
.topbar.white .nav-link:not(.btn):focus,
.topbar.white .nav-link:not(.btn).focus {
    color: rgba(74,75,75,0.87);
    font-weight: 700;
    background-color: transparent;
}

.nav-link.btn {
    padding: 8px 16px;
}

.nav-link.btn:not(:last-of-type) {
    margin-bottom: 12px;
}

@media (min-width: 768px) {
    .btn-wrap {
        display: flex;
        align-items: center;
        margin: 0 0 0 8px;
    }

    .nav-item:not(.btn-wrap) {
        margin-right: 1px;
        margin-left: 1px;
    }

    .nav-link:not(.btn) {
        border-bottom: 0;
    }

    .nav-link.btn:not(:last-of-type) {
        margin-bottom: 0;
    }
}

@media (min-width: 800px) {
    .btn-wrap {
        margin: 0 0 0 16px;
    }

    .nav-item:not(.btn-wrap) {
        margin-right: 4px;
        margin-left: 4px;
    }
}

@media (min-width: 840px) {
    .btn-wrap {
        margin: 0 0 0 36px;
    }
}


/* ****************************************** *
    PAGE HEADER 
 * ****************************************** */
header.hero {
    min-height: 560px;
    padding: 64px 0;
}

h1 {
    font-weight: 900;
    margin: 16px 0;
}

.hero p {
    color: rgba(255, 255, 255, 0.96);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 2px;
}

.hero .actions {
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin: 36px 0 0;
}

.hero .actions .btn {
    margin-left: 8px;
    margin-right: 8px;
}

@media(min-width: 480px) {
    .hero .actions .btn {
        min-width: 144px;
    }
}

@media(min-width: 620px) {
    /*.hero .actions {
        margin-top: 48px;
    }*/

    .hero .actions .btn {
        min-width: 200px;
    }
}

@media(min-width: 800px) {
/*    .hero .actions {
        margin-top: 64px;
    }

    .hero .actions .btn {
        min-width: 200px;
    }*/
}


/* ****************************************** *
    BUTTONS
 * ****************************************** */
.btn {
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
    line-height: 20px;
}

.btn:not(.nav-link) {
    min-width: 128px;
}

@media (min-width: 768px) {
    .btn.nav-link {
        min-width: 100px;
        margin-left: 4px;
        margin-right: 4px;
    }
}

.btn:hover,
.btn:focus,
.btn.focus,
.btn:active,
.btn.active {
    padding-left: 16px;
    padding-right: 16px;
}

.btn-orange {
    color: white;
    background-color: rgb(234, 173, 67);
    border-color: rgb(234, 173, 67);
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active {
    color: white;
    background-color: rgb(226, 164, 57);
    box-shadow: 0 0 0 0.25rem rgb(222, 170, 12, 0.5);
}

.btn-white {
    border: 1px solid white;
    background-color: white;
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active {
    background-color: rgba(255, 255, 255, 0.88);
    box-shadow: 0 0 0 0.2rem rgba(124, 204, 188, 0.76);
}


.btn-minimal {
    border: 1px solid white;
    background-color: rgba(230, 251, 247, 0.24);
}

.btn-minimal:hover,
.btn-minimal:focus,
.btn-minimal.focus,
.btn-minimal:active,
.btn-minimal.active {
    color: white;
    background-color: rgba(124, 204, 188, 0.24);
    box-shadow: 0 0 0 0.2rem rgba(124, 204, 188, 0.76);
}


/* ****************************************** *
    ICON BARS
 * ****************************************** */
.icon-bars {
    padding: 16px 0;
    border-bottom: 1px solid #e9edf0;
}
.icon-bars .container-fluid {
    max-width: 1024px;
}
.icon-bars .col {
    /* three in a row, please */
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin: 2.5px 0;
    /* also flex up so your children can fill you up */
    display: flex;
}

@media (min-width: 420px) {
    .icon-bars .col {
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
        max-width: 25%;
    margin: 5px 0;
    }
}

@media (min-width: 576px) {
    .icon-bars .col {
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
        max-width: 20%;
    }
}

.icon-bars .col a {
    /* flex up, center children vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
}

img.client-bar-icon {
}

.icon-bars a img.client-bar-icon {
    transition: all .4s ease-in;
            filter: gray;
    -webkit-filter: grayscale(0.24);
            filter: grayscale(0.24);
    opacity: .24;
}

.icon-bars a:hover img.client-bar-icon {
    transition: all .16s ease-out;
            filter: grayscale(0);
    -webkit-filter: grayscale(0);
    opacity: 1;
}


/* ****************************************** *
    HOW IT WORKS
 * ****************************************** */
.how-it-works .col {
    margin-bottom: 56px;
    display: flex;
    flex-flow: column nowrap;
}

.how-it-works img {
    height: 66px;
}

.how-it-works h3 {
    margin: 20px 0 8px;
}

.how-it-works p {
    margin-top: auto;
    /*
      let its top margin absorb all the remaining space
      so that the paragraph looks as if it were
      pushed down to the bottom of the div  
    */
}

@media(min-width: 360px) {
    .how-it-works .col {
        margin-bottom: 64px;
    }
}

@media(min-width: 768px) {
    .how-it-works .col {
        margin-bottom: 32px;
    }
}


/* ****************************************** *
    GET STARTED
 * ****************************************** */
.get-started .text-wrap {
    text-align: center;
    padding-bottom: 40px;
}

img.lead-profiles {
    max-width: 512px;
}

@media(min-width: 576px) {
    .get-started .text-wrap {
        text-align: left;
        padding-bottom: 0;
    }
}

.line {
    display: inline-block;
    margin: 20px 0 16px;
    width: 76px;
    background-color: rgb(234, 173, 67);
    height: 5px;
}


/* ****************************************** *
    DISCOVER
 * ****************************************** */
section.discover {
    padding-bottom: 0;
}

.discover img {
    width: 74px;
    height: 68px;
    margin-left: auto;
    margin-right: auto;
}

.discover .subtitle {
    margin-bottom: 48px;
    color: rgba(74, 75, 75, 0.64);
}

.discover .row h3 {
    margin-top: 32px;
    margin-bottom: 16px;
}

.discover .cta {
    margin-top: 24px;
    margin-bottom: 64px;
}


/* ****************************************** *
    TESTIMONIALS
 * ****************************************** */
.testimonials img {
    width: 80%;
    max-width: 320px;
    margin-bottom: 32px;
}

.testimonials .testimonial-name {
    font-weight: 600;
}